<h3 class="text-primary" style="text-align: center; vertical-align: middle;">{{titulo}}</h3>
<table class="table table-sm table-bordered table-hover bg-light">
    <thead>
        <tr class="table-primary">
            <th scope="col" class="text-secondary text-center">Código</th>
            <th scope="col" class="text-secondary text-center">Nome</th>
            <th scope="col" class="text-secondary text-center">Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let perfil of perfis; let i = index;">
            <td class="text-black-60 text-center" style="width: 120px !important;">{{ perfil.codigo }}</td>
            <td class="text-black-60">{{ perfil.nome }}</td>
            <td class="text-black-60 text-center" style="width: 120px !important;">
                <a class="btn fa fa-edit" (click)="editar(perfil.codigo);"></a>
                <a class="btn fa fa-trash" (click)="excluir(perfil.codigo, i);"></a>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="text-black-60 text-right">Total de Registros: {{ perfis.length }}</td>
        </tr>
    </tbody>
</table>