/*form{
   position:fixed;
   left:10%;
   border-collapse: collapse;    
   width: 80%;
}*/

/*
h3{
   background-color: #213E8D;
   color: white;
   text-align: center;
   vertical-align: middle;
}

button{
   position: absolute; 
   right: 0;
   margin-right: 8px;
   bottom:0; 
   margin-bottom: 12px;
}

label{
   margin-left: 8px;
   color: #213E8D;
}*/