<h3 class="text-primary" style="text-align: center; vertical-align: middle;">{{titulo}}</h3>
<table class="table table-sm table-bordered table-hover bg-light">
    <thead>
        <tr class="table-primary">
            <th scope="col" class="text-secondary text-center">Código</th>
            <th scope="col" class="text-secondary text-center">Nome</th>
            <th scope="col" class="text-secondary text-center">Login</th>
            <th scope="col" class="text-secondary text-center">Email</th>
            <th scope="col" class="text-secondary text-center">Tempo Expiração Senha</th>
            <th scope="col" class="text-secondary text-center">Código Autorização</th>
            <th scope="col" class="text-secondary text-center">Situação</th>
            <th scope="col" class="text-secondary text-center">Código Pessoa</th>
            <th scope="col" class="text-secondary text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index;">
            <td class="text-black-60 text-center">{{ usuario.codigo }}</td>
            <td class="text-black-60">{{ usuario.nome }}</td>
            <td class="text-black-60">{{ usuario.login }}</td>
            <td class="text-black-60">{{ usuario.email }}</td>
            <td class="text-black-60 text-center">{{ usuario.tempoExpiracaoSenha }}</td>
            <td class="text-black-60 text-center">{{ usuario.codgAutorizacao }}</td>
            <td class="text-black-60 text-center" *ngIf='usuario.situacaoUsuario'>Ativo</td>
            <td class="text-black-60 text-center" *ngIf='!usuario.situacaoUsuario'>Inativo</td>
            <td class="text-black-60 text-center">{{ usuario.codgPessoa }}</td>
            <td class="text-black-60 text-center">
                
                <a class="btn fa fa-edit" (click)="editar(usuario.codigo);" title="Editar"></a>
                <a class="btn fa fa-trash" (click)="excluir(usuario.codigo, i);" title="Excluir"></a>
            </td>
        </tr>
        <tr>
            <td colspan="10" class="text-black-60 text-right">Total de Registros: {{ usuarios.length }}</td>
        </tr>
    </tbody>
</table>