<form (ngSubmit)="salvar()">
    <h3 class="text-primary" style="text-align: center; vertical-align: middle;">{{titulo}}</h3>
    <div class="form-group align-form">

        <div class="form-group row">
            <label for="codigo" class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-6">
                <input type="input" class="form-control form-control-sm" name="codigo" size="8" [(ngModel)]="aparelho.codigo"
                    disabled />
            </div>
        </div>

        <div class="form-group row">
            <label for="codigo" class="col-sm-2 col-form-label">Descrição:</label>
            <div class="col-sm-6">
                <input type="input" class="form-control form-control-sm" name="descricao" size="15" [(ngModel)]="aparelho.descricao" />
            </div>
        </div>

        <div class="form-group row">
            <label for="codigo" class="col-sm-2 col-form-label">Código Aparelho:</label>
            <div class="col-sm-6">
                <input type="input" class="form-control form-control-sm" name="descricao" size="15" [(ngModel)]="aparelho.codgAparelho" />
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>